<div class="container">
  <h1>Tax Calculation Record List
    <a [routerLink]="['/taxcalcrecord-create']" class="btn btn-default btn-lg">
      <i class="far fa-plus"></i>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>FY Year</th>
        <th>Annual Income</th>
        <th>Super rate</th>
        <th>Tax amount</th>
        <th>Created date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of taxCalcRecords">
        <td>{{ record.financial_year }}</td>
        <td>{{ record.annual_income }}</td>
        <td>{{ record.super_rate }}</td>
        <td>{{ record.tax_amount }}</td>
        <td>{{ record.created_date }}</td>
        <td>
          <a [routerLink]="['/taxcalcrecord-details',record._id]" class="btn btn-default btn-lg">
            <i class="far fa-indent"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
