<div class="container">
  <div class="row">
     <div class="col-md-6">
      <h1>Your profile</h1>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 control-label">Your Full name</label>
          <p class="form-control-static">{{ details?.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Your Email</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>
      </div>

    </div>

  </div>
</div>